.btn {
  cursor: pointer;
  color: var(--title-cl);
  background-color: var(--btn-bg);
  border-width: 0px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px 6px 22px;
  font-weight: 500;
  min-height: 38px;

  @extend %btn-effects;

  &:hover,
  &:focus {
    color: var(--alt-text-cl);
    background-color: var(--accent-cl);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
 
/*Кнопка заказа услуги*/
.service__button {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  min-width: 200px;
  margin-top: 30px;
  fill: var(--alt-text-cl);
 
  &:hover {
    animation: scale 1.5s ease-in-out;
  }
}
 

/*Кнопка подписки*/
.subscribe__button {
  color: var(--alt-text-cl);
  background-color: var(--accent-cl);
  height: 50px;
  width: 200px;

  box-sizing: border-box;

  fill: var(--alt-text-cl);

  &:hover {
    animation: scale 1.5s ease-in-out;
  }

  @media screen and (max-width: 767px) {
  margin-bottom: 60px;
    
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
  }

}

@keyframes scale {
  5% {
  transform: scale(1);
  }
  25% {
  transform: scale(0.9);
  }
  50% {
  transform: scale(1);
  }
}

/*Кнопка закрытия модалки*/
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--alt-text-cl);
  border: 1px solid var(--mdl-btn-brdr);
  display: flex;
  align-items: center;
  justify-content: center;

  & :hover .modal__close-svg,
    :focus .modal__close-svg {
    fill: var(--accent-cl);

    @extend %fill-effects;
  }
}

.send-btn {
 display: block;
 margin: 0;
 margin-left: auto;
 margin-right: auto;
}

/*Кнопка мобильного меню*/
.mob-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  
  & .cross-icon {
    display: none;
  }

  &.is-open .cross-icon {
    display: block; 
    position: relative;

    top: 0px;  
    right: 0px; 

    z-index: 100;
  }

  &.is-open .burger-icon {
    display: none;
  }

  @media screen and (min-width: 767px) {
    display: none;    
  }

  & :hover .cross-icon, .burger-icon, 
    :focus .cross-icon, .burger-icon{
      fill: var(--accent-cl);

      @extend %fill-effects;
    }
}



