.mob-menu-content {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: 480px;   
    z-index: 50;  

    padding: 48px 40px;
    width: 100%;
    height: auto;

    background-color:var(--alt-text-cl);
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: 0.02em;
                 
    &.is-open {
        display: flex;
        flex-direction: column;
    }
}

.mob-menu-top-content {
    display: block;
}

.mob-menu-bottom-content {
    display: block;
    margin-top: 150px;
}


.mob-menu-content__list {
    text-align: left;
}
.mob-menu-content__nav {
    font-size: 30px;    
}

.mob-menu-content__phone {
    font-size: 20px;
    color: var(--accent-cl);
}

.mob-menu-content__email {
    font-size: 18px;
    margin-top: 32px;
}

.mob-menu-content__social-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 64px;


}

.mob-menu-content__social {
    border: none;
    background-color: transparent;
    color: var(--accent-cl);
    font-size: 15px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

