.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  justify-content: center;
}
  
.clients__item {
  margin-right: 30px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 480px) {
    flex-basis: calc((100% - 30px*2) / 2);
    }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
 
.clients__image {
  fill: currentColor;
}

.clients__tile {
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  @extend %color-effects;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    }
  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    
  }
}