.hero--background{
  background: var(--dark-bg);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to bottom,
      var(--hero-grdnt),
      var(--hero-grdnt)),
      url("../images/mobile/hero@2x.jpg");
    max-height: 400px;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      var(--hero-grdnt),
      var(--hero-grdnt)),
      url("../images/tablet/hero@2x.jpg");
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
      to bottom,
      var(--hero-grdnt),
      var(--hero-grdnt)),
      url("../images/desktop/hero@2x.jpg");
  }
}



