/*Соцсети*/
.connect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    width: 100%;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      display: block;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      margin-right: 93px;
    }
  }
}

.connect__call {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--alt-text-cl);
  margin-bottom: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 12px;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  
  }
  @media screen and (min-width: 1200px) {
    
  }
}
 
.connect__list {
  display: inline-flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }



}
    
.connect__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--connect-cl);

  &:hover,
  &:focus {
    background-color: var(--accent-cl);

    @extend %background-effects;
  }
}

.connect__social {
  fill: var(--alt-text-cl);
}